{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:jest/recommended",
    "plugin:node/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "jest"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "node/no-unsupported-features/es-syntax": [
      "error",
      { "ignores": ["modules"] }
    ]
  },
  "settings": {
    "node": {
      "tryExtensions": [".ts", "test.ts"]
    }
  }
}
